.footer{
    background: url(../../assets/world-map.png), #41A5C1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 300px;
    position: relative;
    margin-top: 200px;
    display: flex;
    justify-content: center;


   


}
