.testimonial {
  margin: 0 100px;
  text-align: center;

  .cards {
    width: 100%;
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    .card {
      background-color: #fff;
      padding:20px 50px;
      box-shadow: 0px 1px 8px -4px;
      max-width: 300px;
      margin: 10px;
      border-radius: 10px 10px 10px 10px;
      display: flex;
      align-items: center;
      flex-direction: column;

      
      b{
        font-size: 18px;
      }
      span{
        font-size: 14px;
        font-weight: 500;
      }

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }
      .card-bottom{
        margin-top: 20px;
      }
     
    }
  }
}
